# Magic behaviour with __get, __set, __call and __callStatic is not exactly static analyser-friendly :)
# Fortunately, You can ignore it by the following config.
#

parameters:
  level: 3
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: true
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
  excludePaths:
    - %currentWorkingDirectory%/tests/*
  ignoreErrors:
    - '#Result of method .* \(void\) is used\.#'
    - '#Unsafe usage of new static#'
    - '#Class [a-zA-Z0-9\\\\_]+ not found.#'
    - '#Constant BASE_PATH not found.#'
    - '#Call to an undefined method Psr\\Container\\ContainerInterface::make\(\)#'
    - '#Method Redis::eval\(\) invoked with [0-9] parameters, 1-3 required.#'
